.wrapper {
  margin: 5rem;
}

.wrapper h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
  gap: 1rem;
  border-radius: 10px;
  width: 32rem;
  height: auto;
  margin: 0 auto;
}

.questionContainer p {
  font-weight: var(--font-medium);
  padding-top: 1rem;
  font-size: 1.1rem;
}

.questionContainer h2 {
  max-width: 30rem;
  text-align: center;
}
